.footer-bloc {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: center;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer {
  background: var(--color-b-footer);
  padding: 60px 0;
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.footer__logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--color-main);
}

.footer__logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  color: var(--color-accent);
}

.footer__address {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-main);
  @media screen and (max-width: 1199px) {
    width: 100%;
    text-align: center;
  }
}
.footer__list-addrec {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 0;
  }
  @media screen and(max-width: 767px) {
    margin-bottom: 60px;
  }
}
.footer__link {
  font-style: normal;
  line-height: 1.71;
  color: var(--color-addres);
  @media screen and (max-width: 1199px) {
    width: 100%;
    text-align: center;
  }
}

.footer__link + .footer__link {
  margin-top: 9px;
}
