.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  padding: 10px 29px;
  width: 200px;
  height: 50px;
  color: var(--color-main);
  background-color: var(--color-accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--color-accent);
  cursor: pointer;
  outline: none;
}
