.client__name {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;
}

.client__list {
    display: flex;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--color-social-icon);
    border-radius: 4px;
    fill: var(--color-social-icon);

    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__item+.client__item {
    margin-left: 30px;
}

.client__link:hover,
.client__link:focus {
    fill: var(--color-accent);
    border: 1px solid var(--color-accent);

}