.container-join {
  margin-left: 70px;
}

.container-join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-main);
  margin-bottom: 20px;
}

.container-join__list {
  display: flex;
}

.container-join__link {
  background-color: var(--color-backgro-icon);
  fill: var(--color-main);
  transition-property: background-color;
}
