.header {
    border-bottom: 1px solid var(--color-headre-border)
}

.nav {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.nav__logo {
    margin-right: 93px;
    padding: 24px 0 25px 0;
}

.nav__logo-studio {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-main);
}

.nav__logo-web {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-accent)
}

.nav__logo-studionav {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: var(--color-text);
}

.nav__list {
    display: flex;
}

.nav__login {
    display: flex;
}

.nav__link {
    display: block;
    margin-right: 50px;
    padding: 29px 0;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: var(--color-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:focus {
    color: var(--color-accent);
}

.nav__link:hover {
    color: var(--color-accent);
}

.nav__login {
    margin-left: auto;
}

.nav__login-link:not(:last-child) {
    margin-right: 50px;
}

.nav__login-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--color-login);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__icon-log {
    margin-right: 10px;
    fill: currentColor;
}
.nav__login-iteam+.nav__login-iteam{
    margin-left: 30px;
}
.nav__login-link:focus {
    color: var(--color-accent);
}

.nav__login-link:hover {
    color: var(--color-accent);
}

.nav__link--curent {
    color: var(--color-accent);
    position: relative;
&::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translatey(100%);
    background-color: var(--color-accent);
    border: 2px solid var(--color-accent);
    border-radius: 2px;

}}