.main-form {}

.main-form__fild {
    position: relative;
}

.main-form__label {
    display: block;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    margin-bottom: 4px;
    color: var(--color-features);
}

.main-form__input {
    width: 100%;
    outline: none;
    padding: 11px 12px 11px 42px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input:focus {
    border: 1px solid var(--color-accent);

}

.main-form__icon {
    position: absolute;
    left: 12px;
    top: 11px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-form__input:focus+.main-form__icon {
    fill: var(--color-accent)
}

.main-form__user-text {
    width: 448px;
    height: 120px;
    resize: none;
    outline: none;
    border-radius: 4px;
    border-color: rgba(33, 33, 33, 0.2);
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding: 12px 16px;
}

.main-form__user-text:focus {
    border: 1px solid var(--color-accent)
}

.main-form__user-text::placeholder {
    font-size: 14px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}