@media screen and ( max-width:1199px) {
  .our-work-section{
    display: none;
  }
  
}
@media screen and (min-width:1200px) {.our-work-section {
    padding-top: 0;
  }

  .our-work-section__list {
    display: flex;
  }

  .our-work-section__link {
    position: relative;
  }

  .our-work-section__text {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    padding-top: 27px;

    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
  }

  .our-work-section__link:not(:last-child) {
    margin-right: 30px;
  }

  .our-team {
    background: var(--color-bselector);
  }

  .our-team__list {
    display: flex;
  }
  
}