.portfolio-lis {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-lis__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-lis__link {
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-lis__name {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.portfolio-lis__text {
  font-size: 16px;
  color: var(--color-features);
}

.portfolio-lis__border {
  padding: 20px 24px;
  border-bottom: 1px solid var(--color-portf-border);
  border-left: 1px solid var(--color-portf-border);
  border-right: 1px solid var(--color-portf-border);
}

.portfolio-lis__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-lis__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-lis__overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-lis__overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  height: 100%;
  width: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--color-main);
}

.portfolio-lis__item:hover .portfolio-lis__overlay-text {
  transform: translateY(0%);
}
