:root {
    --color-accent: #2196f3;
    --color-main: #fff;
    --color-login: #757575;
    --color-text: #212121;
    --color-addres: rgba(255, 255, 255, 0.6);
    --color-features: #757575;
    --color-b-footer: #2f303a;
    --color-bselector: #f5f4fA;
    --color-headre-border: #ececec;
    --color-portf-border: #eee;
    --color-social-icon: rgb(175, 177, 184);
    --color-backgro-icon: rgba(255, 255, 255, 0.1);
}